process {
    withName: 'reported_loci_withdrawn' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'GT_prepare' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'PRO_GT_assoc' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'PRO_GT_assoc_summary' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'reported_loci_naga' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'GT_prepare_naga' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'case_control_stats' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'PRO_GT_naga_assoc' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'PRO_GT_naga_assoc_summary' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
}